@media (min-width: 800px) {
  
  .nav-links {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    position: static;
    background-color: transparent;
    border: none;
  }

  .nav-links a {
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: bold;
  }

  .nav-links a:hover {
    background-color: #335c67;
    border-radius: 4px;
  }

  
  #menu-toggle {
    display: none;
  }

  
  .navbar {
    padding: 1rem 2rem;
  }

 
  .home {
    padding: 2rem;
  }

  
  .about-content {
    display: flex;
     justify-content: space-between;
  align-items: center;
  }

  .about-text {
    flex: 1;
  }

  .about-photo {
    flex: 1;
    text-align: center;
  }

 
  #courseContainer {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .course-card {
    font-size: 1.1rem;
  }
}

